<ion-view view-title="Board Select" ng-controller="BoardSelectCtrl">
    <ion-content class="padding">
         
        <div>
            <div class="button-bar" style="padding-top:30px">
                <a ng-submit="BoardSelect1()">
                    <a class="button button-light" style="border:0px" menu-close href="#/app/boardMain" ng-click="BoardSelect1()"> 
                        <img src="./img/icon_gongji.jpg" class="psm_left_img2" style="width:70%">
                        <div class="psm_left_mediv">
                            공지사항
                        </div> 
                    </a>
                </a>

                <a ng-submit="BoardSelect2()">
                    <a class="button button-light" style="border:0px" menu-close href="#/app/boardMain" ng-click="BoardSelect2()"> 
                        <img src="./img/icon_up.jpg" class="psm_left_img2" style="width:70%">
                        <div class="psm_left_mediv">
                            업데이트 현황
                        </div> 
                    </a>
                </a>
            </div>

            <div class="button-bar">
                <a ng-submit="BoardSelect3()">
                    <a class="button button-light" style="border:0px" menu-close href="#/app/boardMain" ng-click="BoardSelect3()"> 
                        <img src="./img/icon_jisik.jpg" class="psm_left_img4" style="width:70%">
                        <div class="psm_left_mediv">
                            지식 나눔방
                        </div> 
                    </a>
                </a>
                
                <a ng-submit="BoardSelect4()">
                    <a class="button button-light" style="border:0px" menu-close href="#/app/boardMain" ng-click="BoardSelect4()"> 
                        <img src="./img/icon_qna.jpg" class="psm_left_img4" style="width:70%">
                        <div class="psm_left_mediv">
                            업체문의 Q&A
                        </div> 
                    </a> 
                </a>
            </div>
        </div>

        <div style="position:fixed; bottom:0px">
            <img src="./img/banner_event1.jpg" width="100%">
        </div> 
    </ion-content> 
</ion-view> 